# Backend FastAPI
/backend-fastapi/__pycache__/
/backend-fastapi/*/__pycache__/
/backend-fastapi/env/
/backend-fastapi/*.env
/backend-fastapi/certs/*pem

#===================================================

# Backend Mongo
/backend-mongo/*.env

#===================================================

# Frontend
/frontend-vitereact/logs
/frontend-vitereact/*.log
/frontend-vitereact/npm-debug.log*
/frontend-vitereact/yarn-debug.log*
/frontend-vitereact/yarn-error.log*
/frontend-vitereact/pnpm-debug.log*
/frontend-vitereact/lerna-debug.log*
/frontend-vitereact/node_modules
/frontend-vitereact/dist
/frontend-vitereact/dist-ssr
/frontend-vitereact/*.local
/frontend-vitereact/*.env
/frontend-vitereact/certs/*pem

#===================================================

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?